<center>
<p id="notice"><%= notice %></p>
<h2>イベント詳細</h2>

<div id='show_form'>
<%= render 'events/show_form_body' %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', calendar_path %>
</center>
